<h1>Stupid Coaching</h1>
<div class="tchat">
  <div class="message">
    <p><%=@question%></p>
    <p>- You</p>
  </div>
  <div class="message coatch">
    <p><%=@response%></p>
    <p>- Your coach</p>
  </div>

  <a href="/ask">ask a new question</a>
</div>

